/.metadata/
# Ignorar archivos generados por Eclipse
.project
.classpath
.settings/

# Ignorar archivos de compilación
*.class



# Ignorar archivos de compilación
*.o
*.out

# Ignorar directorios de dependencias de Node.js
/node_modules

# Ignorar archivos de configuración local
.env
